layout: index
description: Hexo is a fast, simple & powerful blog framework powered by Node.js.
subtitle: 技术知识门户
comments: false
---
ul#intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-css3
      h3.intro-feature-title Web
      p.intro-feature-desc
        a(href='/web/base.html') 基础知识
        a(href='/web/base.html') HTML 5
        a(href='/web/base.html') CSS 3 
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-leaf
      h3.intro-feature-title Node
      p.intro-feature-desc All features of GitHub Flavored Markdown are supported. You can even use most Octopress plugins in Hexo.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-upload
      h3.intro-feature-title J2EE
      p.intro-feature-desc You only need one command to deploy your site to GitHub Pages, Heroku or other sites.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud
      h3.intro-feature-title XYT.io
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-diamond
      h3.intro-feature-title UX
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-mobile
      h3.intro-feature-title Mobile
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-jsfiddle
      h3.intro-feature-title Web App
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title Database
      p.intro-feature-desc Hexo has a powerful plugin system. You can install more plugins for Jade, CoffeeScript plugins.